@model BloodRequestReceivedInfoViewModel
@{
    ViewData["Title"] = "RequestAcceptedList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <title></title>


</head>
<body>


    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a href="/DashBoard/UserDashboard">DashBoard</a></li>
                    <li class="breadcrumb-item active">Blood Request Accepted</li>
                </ol>
            </nav>





            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h5>Request Accepted By You</h5>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="Refreshfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">

                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap text-md-center" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>#SlNo</th>
                                                    <th>Request By</th>
                                                    <th>Patient Name</th>
                                                    <th>Blood Group</th>
                                                    <th>Amount Of Blood</th>
                                                    <th>Reason O fBlood</th>
                                                    <th>Hospital</th>
                                                    <th>Hospital Location</th>
                                                    <th>Donor</th>
                                                    <th>IsAccept By Donor</th>
                                                    <th>Donation Status</th>
                                                    <th class="text-md-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    int row = 1;
                                                    @foreach (var item in Model.bloodRequestReceivedInfos.Where(x => x.remarks == "DonorAccepted" && x.isAccept == 1 && x.acceptedBy == Model.CurrentUser.Id).OrderBy(x => x.BloodRequestInfoId))
                                                    {
                                                        <tr>
                                                            <td>@row</td>
                                                            <td>
                                                                @if (item.isAccept == 1)
                                                                {
                                                                    @Model.ApplicationUsers?.Where(x => x.Id == item.BloodRequestInfo.userId).FirstOrDefault().UserName
                                                                }
                                                                else
                                                                {
                                                                    <span></span>
                                                                }
                                                            </td>
                                                            <td>@item.BloodRequestInfo?.patientName</td>
                                                            <td>@item.BloodRequestInfo?.BloodGroup?.groupName</td>
                                                            <td>@item.BloodRequestInfo?.amountOfBlood Beg</td>
                                                            <td>@item.BloodRequestInfo?.reasonOfBlood</td>
                                                            <td>@item.BloodRequestInfo?.donationPlaceName</td>
                                                            <td>@item.BloodRequestInfo?.location</td>
                                                            <td>
                                                                @if (item.isAccept == 1)
                                                                {
                                                                    @Model.ApplicationUsers?.Where(x => x.Id == item.acceptedBy).FirstOrDefault().UserName
                                                                }
                                                                else
                                                                {
                                                                    <span></span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.isAccept == 0)
                                                                {
                                                                    <span>Pending</span>
                                                                }
                                                                else if (item.isAccept == 1)
                                                                {
                                                                    <span>Accepted</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>InValid</span>
                                                                }


                                                            </td>
                                                            <td>

                                                                @if (item.isDonated == 0)
                                                                {
                                                                    <span>No</span>
                                                                }
                                                                else if (item.isDonated == 1)
                                                                {
                                                                    <span>OnProcess</span>
                                                                }
                                                                else if (item.isDonated == 2)
                                                                {
                                                                    <span>Donated</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Invalid</span>
                                                                }
                                                            </td>


                                                            <td class="text-md-center">
                                                                @if (item.isAccept == 0 && item.isDonated == 1 || item.isDonated == 0)
                                                                {
                                                                    <a href="#" class="btn btn-round btn-warning" onclick="AcceptRequest(@item.BloodRequestInfo?.Id,@item.Id)">Accept</a>
                                                                    <a href="#" class="btn btn-round btn-danger d-none" onclick="CancelRequest(@item.BloodRequestInfo?.Id,@item.Id)">Reject</a>
                                                                }
                                                                else if (item.isAccept == 1 && item.isDonated == 1)
                                                                {
                                                                    <a href="#" class="btn btn-round btn-warning d-none" onclick="AcceptRequest(@item.BloodRequestInfo?.Id,@item.Id)">Accept</a>
                                                                    <a href="#" class="btn btn-round btn-danger" onclick="CancelRequest(@item.BloodRequestInfo?.Id,@item.Id)">Reject</a>
                                                                }
                                                                else if (item.isAccept == 1 && item.isDonated == 2)
                                                                {
                                                                    <a href="#" class="btn btn-round btn-warning d-none" onclick="AcceptRequest(@item.BloodRequestInfo?.Id,@item.Id)">Accept</a>
                                                                    <a href="#" class="btn btn-round btn-danger" onclick="CancelRequest(@item.BloodRequestInfo?.Id,@item.Id)">Reject</a>
                                                                }

                                                            </td>
                                                        </tr>

                                                        row = row + 1;
                                                    }

                                                }

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>












                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->




</body>
</html>




@section Scripts{
    <script>
        $(document).ready(function () {


        });



        function Donated(bloodRequestInfoId, BloodRequestReciveId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You donate blood!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Donate!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Bloodbank/BloodRequestReceive/DonatedConfirm?Id=" + BloodRequestReciveId + "&BloodRequestInfoId=" + bloodRequestInfoId,
                        data: { BloodRequestInfoId: bloodRequestInfoId, Id: BloodRequestReciveId },
                        type: 'POST'
                    })
                        .done(function () {
                            Swal.fire({
                                icon: 'success',
                                title: 'Donated Successfully Done!!',
                                showConfirmButton: false,
                                timer: 1000
                            }).then(function () {
                                window.location.reload();
                            })
                        })
                        .fail(function () {
                            swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                        });
                }
            });
        }

        function CancelRequest(bloodRequestInfoId, BloodRequestReciveId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to Reject this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Reject it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Bloodbank/BloodRequestReceive/RequestCancel?Id=" + BloodRequestReciveId + "&BloodRequestInfoId=" + bloodRequestInfoId,
                        data: { BloodRequestInfoId: bloodRequestInfoId, Id: BloodRequestReciveId },
                        type: 'POST'
                    })
                        .done(function () {
                            Swal.fire({
                                icon: 'success',
                                title: 'Reject Successfully Done!!',
                                showConfirmButton: false,
                                timer: 1000
                            }).then(function () {
                                window.location.reload();
                            })
                        })
                        .fail(function () {
                            swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                        });
                }
            });
        }



        function AcceptRequest(bloodRequestInfoId, BloodRequestReciveId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to approve this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Approve it!'
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Bloodbank/BloodRequestReceive/Index?Id=" + BloodRequestReciveId + "&BloodRequestInfoId=" + bloodRequestInfoId,
                        data: { BloodRequestInfoId: bloodRequestInfoId, Id: BloodRequestReciveId },
                        type: 'POST'
                    })
                        .done(function () {
                            Swal.fire({
                                icon: 'success',
                                title: 'Approve Successfully Done!!',
                                showConfirmButton: false,
                                timer: 1000
                            }).then(function () {
                                window.location.reload();
                            })
                        })
                        .fail(function () {
                            swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                        });
                }
            });
        }


    </script>
}

