@model OtherBloodBankDetailsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<html>
<head>
    <title></title>


</head>
<body>


    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item"><a href="/DashBoard/UserDashboard">DashBoard</a></li>
                    <li class="breadcrumb-item active">Other Blood Bank</li>
                </ol>
            </nav>

            <div class="x_panel">
                <div class="x_title">

                    <h5>Add Other Blood Bank Info </h5>

                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-area="Home" asp-controller="OtherBloodBanks" asp-action="Index" id="frmData">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="hidden" id="OtherBloodBankDetailsId" name="OtherBloodBankDetailsId" value="" />


                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Name</label>
                                            <div class="col-md-10">
                                                <input type="text" id="bloodBankName" name="bloodBankName" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Contact</label>
                                            <div class="col-md-10">
                                                <input type="text" id="contactName" name="contactName" class="form-control" value="" />
                                            </div>
                                        </div>
                                       
                                       
                                    </div>



                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">Email</label>
                                            <div class="col-md-10">
                                                <input type="text" id="email" name="email" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">WebSite</label>
                                            <div class="col-md-10">
                                                <input type="text" id="websiteLink" name="websiteLink" class="form-control" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2">address</label>
                                            <div class="col-md-10">
                                                <input type="text" id="address" name="address" class="form-control" value="" />
                                            </div>
                                        </div>

                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2"></label>
                                            <div class="col-md-10">
                                                <button type="button" id="btnSave" value="Submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
                                                <button type="reset" id="btnReset" value="reset" class="btn btn-info"><i class="fa fa-repeat"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h5>Other Blood Bank Details</h5>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="Refreshfix"></div>
                        </div>

                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">

                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap text-md-center" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>#SlNo</th>
                                                    <th>Name</th>
                                                    <th>Contact</th>
                                                    <th>Email</th>
                                                    <th>WebsiteLink</th>
                                                    <th>Address</th>
                                                    <th class="text-md-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    int sl = 1;
                                                    @foreach (var item in Model.otherBloodBankDetailsList)
                                                    {
                                                        <tr>
                                                            <td>@sl</td>
                                                            <td>@item.bloodBankName</td>
                                                          
                                                            <td>@item.contactName</td>
                                                            <td>@item.email</td>
                                                            <td><a href="@item.websiteLink"  target="_blank">@item.websiteLink</a></td>
                                                            <td>@item.address</td>
                                                            <td class="text-md-center">
                                                                <a href="#" class="btn btn-round btn-warning" onclick="Edit(@item.Id,'@item.bloodBankName','@item.contactName','@item.email','@item.websiteLink','@item.address')"><i class="fa fa-edit"></i></a>
                                                                <a href="#" class="btn btn-round btn-danger" onclick="Delete(@item.Id)"><i class="fa fa-trash"></i></a>
                                                            </td>
                                                        </tr>

                                                        sl = sl + 1;
                                                    }

                                                }

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->




</body>
</html>




@section Scripts{
    <script>
        $(document).ready(function () {

            Refresh();
        });


        $('#btnSave').click(function () {
            var data = $('#frmData').serialize();
            Swal.fire({
                title: 'Are you sure?',
                text: "You want to save this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, save it!'
            }).then((result)=> {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Home/OtherBloodBanks/Index',
                        type: 'POST',
                        data: data
                    }).done(function () {
                        if (data[0].value == 0) {
                            swal.fire('success', 'Saved Successfully!', 'success').then(function () {
                                location.reload();
                            });
                        }
                        else {
                            swal.fire('success', 'Saved Successfully!', 'success').then(function () {
                                location.reload();
                            });;
                        }
                    }).fail(function () {
                        swal.fire('warning', 'Failed!', 'warning');
                    })
                }

		});


	})


        function Delete(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to retrieve this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                $.ajax({
                    url: "/Home/OtherBloodBanks/Delete/" + Id,
                    data: { Id: Id },
                    type: 'POST'
                })
                    .done(function() {
                        Swal.fire({
                            icon: 'success',
                            title: 'Deleted Successfully!!',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(function () {
                            window.location.reload();
                        })
                    })
                    .fail(function () {
                        swal.fire('Cancelled', 'It will not be deleted. Please try again later !!!', 'error');
                    });
                }
            });
        }



        function Edit(Id,bloodBankName,contactName,email,websiteLink,address) {
            $("#OtherBloodBankDetailsId").val(Id);
            $("#bloodBankName").val(bloodBankName);
            $("#contactName").val(contactName);
            $("#email").val(email);
            $("#websiteLink").val(websiteLink);
            $("#address").val(address);

        }


        function Refresh() {
            $("#OtherBloodBankDetailsId").val(0);
            $("#contactName").val('');
            $("#email").val('');
            $("#websiteLink").val('');
            $("#address").val('');
            $("#bloodBankName").val('');
        }
    </script>
}